[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests-oauthlib = "*"
janome = "*"
matplotlib = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
main = "py main.py"
